.menu {
display: flex;
justify-content: space-between;

}


body {
    font: 1.2em "Montserrat", sans-serif;
    background-color: black;
/* Centrer la page */
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

p {
    color :darkgray;

}

a {
color: rgb(255 255 255 / 20%);
opacity: 0.8;
text-decoration: none;
}

a:hover {
    opacity: 1;
    transition: 0.5s;
    color: white;
}


li {
color :rgb(200, 200, 200);
list-style-type: none;
}

ul {

    display: flex;
    justify-content: center;

}

.hashtags {
    color: rgb(190, 190, 190);
    opacity: 0.2;
    padding-right: 1%;
    font-size:xx-large;
}

.hashtags:hover {
    opacity: 0.5;
}




#galerie {
/* Alignement des miniatures */
display: flex;
flex-wrap: wrap;
justify-content: center;

padding: 30px;
}



.img_gallery {
width: 300px;
opacity: 1;
border-radius: 14px;
margin: 7px;

}


.img_gallery:hover {
    opacity: 0.6;
    transition: 0.3s;
}



.ref_clients {
width: 150px;
}


/* TEXTES */


.titre_real {
opacity: 0;
animation: fondu ease 1s;
animation-delay: 1s;
padding-left: 1%;
font-size: 3em;

color: darkgray;
display: flex;
justify-content: center;

/* Empêche l'animation de se répéter */ 
-webkit-animation-fill-mode: forwards;
}

@keyframes fondu {
    0% {
        opacity: 0;
        margin-left: -2%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;

     }
}



/* SECTION WHO I AM */

#who_i_am {
    display: flex;
    align-items: center;
    justify-content: flex-end;


}