


body {
    font: 1.2em "Montserrat", sans-serif;
    background-color: black;
/* Centrer la page */
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

p {
    color :darkgray;

}


li {

color :darkgray;
list-style-type: none;
}



.gallery {
/* Alignement des miniatures */
display: flex;
flex-wrap: wrap;
justify-content: center;

padding: 30px;
}



.img_gallery {
width: 300px;
opacity: 1;
}


.img_gallery:hover {
    opacity: 0.6;
    transition: 0.3s;
}



.ref_clients {
width: 150px;
}


/* TEXTES */


.titre_real {
animation: fondu ease 1s;
animation-delay: 3s;
font-size: 3em;
color: darkgray;
}

@keyframes fondu {
    0% {
        opacity: 0;
        margin-left: -2%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;

     }
}